.square {
    padding-top: 8%;
}

.glyphicon {
    font-size: 5rem;
    padding: 14rem;
    border: 5px solid #7f7f7f;
    border-radius: 1rem
}

.input-file {
    display: none;
}

.theForm {
    display: flex;
    flex-direction:column;
    // justify-content: center;
    // align-content: center
}